.footer {
    width: 100%;
    background: linear-gradient(90deg, #0f172a, #1e3a8a);
    color: white;
    padding: 25px 40px;
    margin-top: auto;
    border-top: 3px solid cyan;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.4);
}

.footer p {
    text-align: center;
    font-size: 15px;
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.95;
}