<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slideshow.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Oficina do Pombo</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="{{ url_for('static', filename='imagens/pigeon.png') }}" alt="Pombo">
            <a href="/">Oficina do Pombo</a>
        </div>
        <div class="navbar-links">
            <a href="/" class="nav-item">Pagina inicial</a>
            <a href="/marca" class="nav-item">Marcas</a>
            <a href="/produto" class="nav-item">Produtos</a>
            <a href="/agendar_reparacao" class="nav-item">Agendar Reparação</a>
            <a href="/contactos" class="nav-item">Contactos</a>
        </div>

        <div class="cadastroLogin">
            </a>
            {%if session.nome %}
            <span>Ola, {{session.nome}}</span>
            <a href="/logout" class="botoes">
                Logout
            </a>
            {% else %}
            <a href="/cadastro" class="botoes">
                Cadastrar
                <a href="/login" class="botoes">
                    Login
                </a>
                {% endif %}
        </div>

    </nav>
</body>

</html>